{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <p></p>
    <p></p>
    <p></p>
        
        <article>
            <h1><a href="{{post.get_absolute_url}}">{{post.title}}</a></h1>
            <p class="article_pub-date">Published
                {{post.publish}} by {{post.author}}
            </p>
    
            <div class="row">
                <div class="large-12 columns">
                    <img class="float-right" src="{% static 'img/desktop2.png' %}" />
                    <p>{{post.body}}</p>
                </div>
            </div>
        </article>
        <hr />

{% endblock %}
