{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    {% for post in posts %}
    <p></p>
    <p></p>
    <p></p>
    <div class="large-9 columns" role="content">
        <article>
            <h1><a href="#">{{post.title}}</a></h1>
            <p class="article_pub-date">Published
                {{post.publish}} by {{post.author}}
            </p>
    
            <div class="row">
                <div class="large-12 columns">
                    <img class="float-right" src="{% static 'img/desktop2.png' %}" />
                    <p>{{post.body}}</p>
                </div>
            </div>
        <a href="#" class="button">Read More</a>
        </article>
        <hr />
    </div>    
    {% endfor %}
{% endblock %}
